<div class="comments">
    {{!-- this is an array not an object that's why we need to use this key word. array don't have keys.--}}
  {{#each this}}
  <section class="comment">
    <div>
        <h1>Dark brown</h1>
    </div>
    <div class="text">
        {{comment_text}}
    </div>
    <div class="meta">
     Posted by {{user.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>