<div class="comments">
  {{!-- this is an array not an object that's why we need to use this key word. array don't have keys.--}}
  {{#each this}}
  <section class="card m-2">

    {{!-- <div class="card-header">
      <h1></h1>
    </div> --}}

    <div class="comment">

      <div class="card-body">
        {{comment_text}}
      </div>

      <div class="card-footer">
        Posted by {{user.username}} on {{format_date created_at}}
      </div>

    </div>

  </section>
  {{/each}}
</div>