{{!-- Note how we wrapped the entire <section> element in an {{#if}} helper so users won't see any of this content if they have no posts. We're also using the post-info partial that we set up earlier to display the details for each post, and we're adding a link below it that will route users to a separate edit page (e.g., /dashboard/edit/1). --}}
{{#if loggedIn}}
<div class="container-fluid">
  
  <div class="row">
<a class="btn btn-primary " href="/dashboard/new-post">+ New Post</a>
  </div>
  
</div>
{{/if}}

{{#if posts.length}}
<section class="container-fluid">
  <div class="">
    {{#each posts as |post|}}
    <div class="p-2">
      {{> post-info-edit post}}
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
    </div>
    {{/each}}
  </div>
</section>
{{/if}}

{{!-- <script src="/javascript/add-post.js"></script> --}}