<article class="container-fluid">
    <h2 class="text-center">Edit Post</h2>
    <form class="edit-post-form">

        <div class="mb-3">
            <label for="post-title" class="form-label">Title:</label>
            <input name="post-title" type="text" class="form-control" value="{{post.title}}" />
        </div>

        <div class="mb-3">
            <label for="post-content" class="form-label">Content:</label>
            <input name="post-content" type="text" class="form-control" value="{{post.content}}" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Update post</button>

            <button type="button" class="delete-post-btn btn btn-danger">Delete post</button>
        </div>

        <div class="mb-3">
        </div>
    </form>
</article>


{{!-- {{> comments post.comments}} --}}
{{!-- In the edit-post.handlebars template, include
<script> elements for all related front - end JavaScript files, as shown in the following code: --}}
    <script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{!--
<script src="/javascript/comment.js"></script> --}}