{{!-- sing up form --}}
<form id="signup-form">
  <h3>Sing Up</h3>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="email" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
  <a href="/login">Login</a>
{{!-- Remember to give the absolute path, not the relative file path. --}}
<script src="/javascript/signup.js"></script>