{{!-- ! SINGLE POST INFO AND add comments --}}
<div class="p-2">
  {{> post-info post}}

</div>
{{!-- we sent it in the object with post array. --}}
{{#if loggedIn}}
<div class="p-2">
  <form class="comment-form form-floating">
    <div class="form-floating">
      <textarea name="comment-body" class="form-control" placeholder="Leave a comment here"
        id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Leave a comment here</label>
    </div>
    <div class="p-2">
      <button type="submit" class="btn btn-primary">add comment</button>
    </div>
  </form>

</div>
{{/if}}
{{!-- to use partial in other handlebars we can insert it by {{> name_of_the_partial
argument_for_each_loop_set_up_in_partial }} --}}
{{> comments post.comments}}

{{!-- The front end never received a <form class="comment-form"> element, but it still loaded the JavaScript files that
  look for those. Because comment.js is only useful to users who can see those elements (i.e., logged-in users), we
  should just not load those resources. --}}
  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{/if}}

  {{!-- todo: add the logic to display it on separate page where you can add comments and after comment added redirect
  to post information and comments under it--}}